# IDEs
.project
.pydevproject
.idea
.vscode
.settings
.vs/
venv/
.env
./.env
# Random files
*~
\#*
dist
./dist

./htmlcov
.coverage
virtualenv/
htmlcov/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/
yarn.lock
npm-debug.log

# Coverage
coverage/
.coveragerc
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# in case we run shippable tests don't include it
shippable/

# not include scripts because they come from external module
scripts/

ngrok.exe
