version: "2"
services:

  postgresbot:
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - 5434:5432

  web:
    build: .
    restart: always
    command: python manage.py runserver 0.0.0.0:8891
    env_file:
      - .env
    ports:
      - 8891:8891
    volumes:
      - /root/event_chat_bots:/usr/app/event_bot
    depends_on:
      - postgresbot
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:ctf.lambda-it.ru"
      - "traefik.backend=ctf_bot_vpn"

networks:
  web:
    external:
      name: web



